$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: #000000;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);

h1, h2 {
    font-family: "Mynerve", cursive; }
  
  .jumbotron {
    margin: 0;
    padding: 30px;
  
   }
  
  .navbar {
    background-color: black; }
  
  .site-footer {
    padding: 20px 0; 
    
  }
  
  #logo-reverse {
    filter: invert(1); 
  }

  
  li {
    list-style-type: none;
  }
  