h1, h2 {
  font-family: "Mynerve", cursive; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #ffffff, #301c02); }

.navbar {
  background-color: black; }

.site-footer {
  padding: 20px 0;
  background-color: black;
  color: white; }
  .site-footer .fa {
    color: white;
    size: 10rem; }

.table {
  font-family: "Golos Text", sans-serif;
  font-size-adjust: inherit; }

.modal-header {
  background-color: #301c02;
  color: white; }

#logo-reverse {
  filter: invert(1); }

li {
  list-style-type: none; }

#extraspace {
  padding: 100px;
  margin: auto; }
