h1, h2 {
  font-family: "Mynerve", cursive; }

.jumbotron {
  margin: 0;
  padding: 30px; }

.navbar {
  background-color: black; }

.site-footer {
  padding: 20px 0; }

#logo-reverse {
  filter: invert(1); }

li {
  list-style-type: none; }
